  .resultsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
  }

  .magicPageElements, .magicPageUsers {
    margin: auto 0;
    padding: 1.5rem 0 1.5rem 0;
  }

  .magicPageElementsTable {
    min-width: 200px;
    max-width: 500px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .magicPageElementsTableRowHeader {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-red);
    color: var(--light-gray);
  }

  .magicPageElementsTableRowHeader th {
    padding: 1rem 3rem 1rem 3rem;
  }

  .magicPageElementsTableRowHeader th.elementColumn {
    background-color: var(--joel-red); 
  } 

  .magicPageElementsTable td {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    background-color: var(--light-gray);
    color: var(--joel-gray);
  }
  
  .magicPageElementsTable td.empty {
    background-color: white;
    color: var(--joel-gray);
  }

  .magicPageAddElements {
    margin: auto 0;
    padding: 0 0 1.5rem 0;
    text-align: center;
  }

  .magicPageAddElementsForm {
    min-width: 200px;
    max-width: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .logoImage {
    height: 2rem;
    width: 4rem;
    vertical-align: middle;
    position: relative;
    top: -0.125rem;
  }