  .magicPage {
    margin: auto 0;
  }

  .magicPageElements, .magicPageUsers {
    margin: auto 0;
    padding: 1.5rem 0 1.5rem 0;
  }

  .magicPageElementsTable {
    min-width: 200px;
    max-width: 500px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .magicPageElementsTableRowHeader {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-red);
    color: var(--light-gray);
  }

  .magicPageElementsTableRowHeader th {
    padding: 1rem 3rem 1rem 3rem;
  }

  .magicPageElementsTableRowHeader th.elementColumn {
    background-color: var(--joel-red); 
  } 

  .magicPageElementsTable td {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    background-color: var(--light-gray);
    color: var(--joel-gray);
  }
  
  .magicPageElementsTable td.empty {
    background-color: white;
    color: var(--joel-gray);
  }

  .magicPageElementsTable div.userVotes {
    display:flex;
    height:100%;
  }

  .magicPageElementsTable div.userVoteNameContainer {
    display: flex;
    justify-content: space-around;
  }

  .magicPageElementsTable div.userVoteContainer {
    display:table;
    width:25px;
    height:25px;
    margin-left:10px;
  }

  .magicPageElementsTable div.userNameContainer {
    display:table;
    height:25px;
  }

  .magicPageElementsTable div.userName {
    display:table-cell;
    vertical-align:middle;
  }

  .magicPageElementsTable div.userVoteContainer div.userVote {
    display:table-cell;
    vertical-align:middle;
  }

  .magicPageAddElements {
    margin: auto 0;
    padding: 0 0 5rem 0;
    text-align: center;
  }

  .magicPageAddElementsForm {
    min-width: 200px;
    max-width: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Magic Page Round Component */
  .magicPageRounds {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .magicPageRounds div.magicPageRoundsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .magicPageRounds div.magicPageRoundsContainer div.magicPageRoundsBox {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 2px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .magicPageRounds div.magicPageRoundsContainer div.firstBox {
    background-color: var(--joel-red);
    color: var(--light-blue);
    font-weight: bold;
  }

  .magicPageRounds div.magicPageRoundsContainer div.activeBox {
    background-color: var(--light-red);
    color: var(--light-blue);
    font-weight: bold;
  }

  .magicPageRounds div.magicPageRoundsContainer div.nonactiveBox {
    background-color: var(--light-gray);
    color: var(--joel-gray);
  }

  .magicPageRounds div.magicPageRoundsContainer div.controlBox {
    background-color: var(--joel-blue);
    color: var(--light-blue);
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
  }

  .magicPageRounds div.magicPageRoundsContainer div.magicPageRoundsBox div.magicPageRoundsName {
    color: var(--light-blue);
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }

  .logoImage {
    height: 2rem;
    width: 4rem;
    vertical-align: middle;
    position: relative;
    top: -0.125rem;
  }