.idea
*.iml
.cache
backend/lambda/onconnect/build
backend/lambda/onmessage/build
backend/lambda/ondisconnect/build
backend/nodejs/onmessage/build
frontend/dist*
node_modules
aws.config
backend/packaged.yaml
.vscode
nbproject