:root {
    --border-radius: 0.5rem;
    --button-width: 90vw;
    --joel-red: rgb(255, 0, 0);
    --light-red: #ff6666;
    --dark-red: #990000;
    --joel-gray: rgb(127, 132, 139);
    --light-gray: #ffe6e6;
    --red: hsl(0, 100%, 50%);
    --joel-blue: #0066b3;
    --light-blue: #e6f4ff;
  }
  
  @media (min-width: 300px) {
    :root {
      --button-width: 14rem;
    }
  }
  
  :global * {
    box-sizing: border-box;
  }
  
  :global *:focus {
    outline: none;
  }
  
  :global body {
    font: 16px sans-serif;
    margin: 0;
  }
  
  :global input[type='text'],
  :global input[type='submit'],
  :global button,
  :global select {
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0;
    border-radius: var(--border-radius);
  }
  
  :global input[type='text'] {
    line-height: 2rem;
    padding: 0 0.5rem;
  }
  
  :global input[type='submit'],
  :global button,
  :global select {
    line-height: 2.25rem;
    padding: 0;
  }
  
  :global input[type='text'] {
    border: 0.125rem solid var(--joel-blue);
  }
  
  :global button,
  :global input[type='submit'],
  :global a img,
  :global select {
    cursor: pointer;
  }
  
  :global input[type='text']:focus {
    border-color: var(--light-blue);
  }
  
  :global a:focus {
    outline: 0.125rem solid var(--light-red);
    outline-offset: 0.125rem;
  }
  